<configuration>
    <property file="database/credentials_google.env"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
        <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
            <driverClass>com.mysql.cj.jdbc.Driver</driverClass>
            <url>jdbc:mysql://${DB_INSTANCE}:3306/ee_logging?useSSL=false</url>
            <user>${USER}</user>
            <password>${PASSWORD}</password>
        </connectionSource>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="at.markusmoosbrugger.logback.LogbackMySQLWriter" level="INFO" additivity="true">
        <appender-ref ref="DB" />
    </logger>

</configuration>
